$background-main: #D4E9EC;
$background-secondary: #00474B;
$result-color: #2ABFAA;
$text-header-color: #4A6D6F;
$text-body-color: #C8D6D6;

html {
  background-color: $background-main;
  font-family: monospace;
  font-size: 1.5em;
  color: grey;
}

.header {
  text-align: center;
  color: $text-header-color;
}

.calculator {
  background-color: white;
  border-radius: 5%;
  font-size: larger;

  .bill {
    display: flex;
    flex-direction: column;
    margin-left: 12%;
    margin-right: 12%;
    font-weight: bolder;

    input {
      width: 80%
    }
  }

  .tip {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 12%;
    margin-right: 12%;
    font-weight: bolder;

    input {
      width: 80%
    }
  }

  .people {
    display: flex;
    flex-direction: column;
    margin-left: 12%;
    margin-right: 12%;
    font-weight: bolder;

    input {
      width: 80%
    }
  }

  .results {
    display: flex;
    flex-direction: column;
    background-color: $background-secondary;
    color: white;
    border-radius: 5%;
    margin-left: 6%;
    margin-right: 6%;
    padding: 5%;
    max-width: 100vw;
    max-height: 100vh;
    font-weight: bolder;

    input {
      width: 80%
    }

    h2 {
      color: $result-color;
    }

    .word-wrap {
      display: flex;
      flex-direction: column;

      span {
        color: grey;
      }
    }

    .results-1 {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .results-2 {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    button {
      margin-top: 5%;
    }
  }
}