$background-main: #D4E9EC;
$background-secondary: #00474B;
$result-color: #2ABFAA;
$text-header-color: #4A6D6F;
$text-body-color: #C8D6D6;
$btn-color: #26C2AD;

html {
  background-color: $background-main;
  font-family: monospace;
  font-size: 1.5em;
  color: grey;
}

.header {
  text-align: center;
  color: $text-header-color;
  height: 15vh;
  margin-bottom: 2%;
}

.calculator {
  background-color: white;
  border-radius: 5%;
  font-size: larger;
  height: 100%;

  .bill {
    display: flex;
    flex-direction: column;
    margin-left: 12%;
    margin-right: 12%;
    font-weight: bolder;
    margin-bottom: 2%;

    .bill-input-wrapper {
      align-items: center;
      background-color: #F3F8FB;
      padding: 3%;

      input {
        width: 80%;
        border: 0;
        background-color: #F3F8FB;
        resize: none;
        outline: none;
      }
    }
  }

  .tip {
    display: flex;
    flex-direction: column;
    margin-left: 12%;
    margin-right: 12%;
    font-weight: bolder;
    margin-bottom: 2%;

    input {
      width: 80%
    }

    .btn {
      margin-top: 5%;
      margin-left: 3%;
      padding: 4%;
      border: 0;
      border-radius:5%;
      background-color: $btn-color;
      width: 20%;
      font-weight: bolder;
      font-size:medium;
      color: white;
    }
  }

  .people {
    display: flex;
    flex-direction: column;
    margin-left: 12%;
    margin-right: 12%;
    margin-bottom: 3%;
    font-weight: bolder;
    margin-bottom: 2%;

    .person-input-wrapper {
      align-items: center;
      background-color: #F3F8FB;
      padding: 3%;

      input {
        width: 80%;
        border: 0;
        background-color: #F3F8FB;
        resize: none;
        outline: none;
      }
    }
  }

  .results {
    display: flex;
    flex-direction: column;
    background-color: $background-secondary;
    color: white;
    border-radius: 5%;
    margin-left: 6%;
    margin-right: 6%;
    padding: 5%;
    max-width: 100vw;
    max-height: 100vh;
    font-weight: bolder;

    p {
      font-size: smaller;
    }

    span {
      font-size: smaller;
    }

    input {
      width: 80%
    }

    h2 {
      color: $result-color;
    }

    .word-wrap {
      display: flex;
      flex-direction: column;

      span {
        color: grey;
      }
    }

    .results-1 {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .results-2 {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .btn-reset {
      margin-top: 5%;
      padding: 8%;
      border: 0;
      border-radius:5%;
      background-color: $btn-color;
      font-weight: bolder;
      font-size: large;
      color: #00474B;
    }
  }
}

@media only screen and (min-width: 600px) {
  .calculator {
    display: flex;
    margin: 0;
    width: 60vw;

    .results {
      width: 80%;
    }
  }
}